:host {
  width: 100%;
  display: flex;
  align-items: center;

  background: linear-gradient(135deg, #ffffff 0%, #B7E4C7 100%);
  border-radius: 1rem;
  padding: 0rem 1rem;
  box-sizing: border-box;

  box-shadow: 0 4px 25px rgba(27, 67, 50, 0.1);

  z-index: 1;
}