:host {
  width: 100%;
  display: flex;
  align-items: center;

  background: linear-gradient(135deg, #ffffff 0%, #B7E4C7 100%);

  border-radius: 1rem;     
  padding: 1.5rem;         
  box-sizing: border-box;

  box-shadow: 0 4px 25px rgba(27, 67, 50, 0.2);

  position: relative;

  overflow: hidden;

  z-index: 1;

}


/* Das Logo bekommt eine feste, sichtbare Größe */
.logo {
  height: 36px;      /* z.B. 48px, je nach Geschmack */
  width: auto;       /* Seitenverhältnis beibehalten */
  display: block;    /* vermeidet „inline“-Sonderfälle */
  object-fit: contain;
}

.stars-header {
  position: absolute;
  right: 0;
  height: 100%;
}


