:host {
  flex: 2;
  background: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  

  display: flex;          /* damit Content (Chatverlauf + Input) layoutbar ist */
  flex-direction: column;

  gap: 1rem;

  box-shadow: 0 4px 25px rgba(27, 67, 50, 0.1);
}

.message-space {
    display: flex;
    flex-direction: column;           /* horizontale Ausrichtung */
    /*justify-content: flex-end;     /* Items rechts; verhindert scroll */
    align-items: flex-end;       /* Items nicht strecken */
    gap: 1rem;
    overflow-y: auto;
    flex: 1 1 auto;               /* nimmt den gesamten Restplatz ein */
    min-height: 0;                /* darf schrumpfen, damit overflow greift */
}

.example-message {
    max-width: 70%;
    min-width: 80px;
    flex: 0 0 auto;               /* nicht strecken */
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    word-wrap: break-word;
    margin-right: 8px;
}

.example-message p {
    margin: 0;                     /* kein extra Abstand */
}

/* Nachricht vom aktuellen Benutzer → rechts */
.example-message.mine {
    align-self: flex-end;
    text-align: right;
    color: #ffffff;
    flex-direction: row-reverse;  /* Avatar rechts, Text links */
    align-self: flex-end;
    text-align: right;
}

/* Nachricht von früheren Benutzern → links */
.example-message.theirs {
    align-self: flex-start;
    text-align: left;
    margin-left: 8px;          /* optischer Abstand */
}


.nickname {
    font-size: 0.75rem;
    font-weight: 400;
}


.message-input {
  background: rgba(116, 198, 157, 0.08);   /* 8% von #74C69D */
  border: 1px solid #74C69D;
  border-radius: 0.5rem;
  width: 100%;

  font-size: 16px;
  color: #52B788;
  
  padding: 1rem 1rem;                      /* vertikal | horizontal */
  box-sizing: border-box;
}

.message-input::placeholder {
  color: rgba(82, 183, 136, 0.4);          /* hellere Farbe für Placeholder */
}


.message-input-container {
  display: flex;
  gap: 1rem;
  height: 50px;           /* → EINDEUTIGE Höhe für beide */

}



.send-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;                           /* Abstand zwischen Icon und Text */
  background-color: #1B4332;
  color: #D8F3DC;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;                      /* vertikal | horizontal */
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.send-button .icon {
  color: #52B788;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.bubble{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}