:host {
  height: 100vh;       /* Höhe = gesamte Browserhöhe */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;               /* ~48px, aber flexibler für große/kleine Screens */
  padding: 3rem;           /* Innenabstand */
  background: #ffffff;     /* Weißer Hintergrund */
  box-sizing: border-box;  /* Padding in Gesamtbreite einrechnen */
}


.star1-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  z-index: 0;
}

.star2-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  z-index: 0;
}

.star3-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 20%;
  z-index: 0;
}

